@font-face {
    font-family: 'AUTHENTIC Sans';
    src: url('../fonts/AUTHENTIC-Sans.woff2') format('woff2'),
         url('../fonts/AUTHENTIC-Sans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'AUTHENTIC Untitled';
  src: url('../fonts/AUTHENTIC-Untitled.woff2') format('woff2'),
       url('../fonts/AUTHENTIC-Untitled.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
}

::selection {
  background: yellow;
}

body{
font-family: 'AUTHENTIC Untitled', Arial, sans-serif;
margin: 50px;
padding-left: 100px;
text-align: left;
line-height: 1.4;
background: yellow;
    }

h1, h2, p, a, ul, li {
  font-family: 'AUTHENTIC Untitled', Times, serif;
  font-size: 42px;
  color: black;
  font-weight: normal;
}

h1 {
  margin-bottom: 30px;
}

h1, ol li, span.year {
   padding-left: 0px;
   font-family: 'AUTHENTIC Sans', Arial, sans-serif;
   font-size: 26px;
}

ol a {
  text-decoration: none;
  font-family: 'AUTHENTIC Untitled', Times, serif;
  font-size: 36px;
  cursor: default;
}

span.year {
  letter-spacing: -1px;
}